# Gradle
/.gradle/
/build/
/build/classes/java/main/

# IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# MacOS
.DS_Store
.AppleDouble
.LSOverride


